@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character {
  width: 184px;
  height: 184px;
  background: url('/images/animation.png');
  background-size: 736px 184px;
  animation: move 0.5s steps(4) infinite;
}

@keyframes move {
  100% {
    background-position: -736px;
  }
}
